<p>{{'Server'}} with ID {{serverId}} is {{getServerStatus()}}</p>






<!-- NOTES
    - String interpolation: curly braces {{}} that output a string, can either contain string/ number(can be converted to string)/ method/ boolean(also outputs as string) etc
    -Property binding: Square braces [] that bind a property to something (i.e bind property to HTML button property)
    -Event binding: uses brackets () with events in them, and what you events to do in quotes (i.e (click) = "method")



-->

